// place your custom styles here
.hero-info-wrapper img {
    max-height: 13rem;
}
.hero-info-wrapper h1 {
    font-size: 2.6rem;
}

html[data-theme=dark] #app {
    --code-highlight-line-color: #0e5c49;
    --border-color: #0e5c49;
}

html[data-theme=light] #app {
    --code-highlight-line-color: #8ef6dc;
    --border-color: #55877a;
}
