.vp-footer img.logo {
    padding-right: 25px;
}

html[data-theme=dark] #app {
    --code-highlight-line-color: #0e5c49;
    --border-color: #0e5c49;
    --tab-nav-bg-color: var(--code-tabs-nav-bg-color);
    --tab-nav-hover-color: var(--code-tabs-nav-hover-color);
    --tab-bg-color: var(--code-bg-color);
    --tab-nav-text-color: var(--code-tabs-nav-text-color);
    .vp-footer img.logo {
        content: url("/assets/footer-logo-white.png");
    }
}

html[data-theme=light] #app {
    --code-highlight-line-color: #79d4bd;
    --border-color: #55877a;
    --code-bg-color: #f6f8fa;
    --tab-nav-bg-color: var(--code-tabs-nav-bg-color);
    --tab-nav-hover-color: var(--code-tabs-nav-hover-color);
    --tab-bg-color: var(--code-bg-color);
    --tab-nav-text-color: var(--code-tabs-nav-text-color);
    .vp-footer img.logo {
        content: url("/assets/footer-logo.png");
    }
}

// make bash code blocks have $ prefix
pre.language-bash:before {
    content: "$ ";
    font-weight: bold;
}

// remove table borders
table.no-boarder {
    td, th, tr {
        padding: 0.5em;
        border: none!important;
        background: none!important;
     }
}
// remove table header
table.no-head {
    thead {
        display: none!important;
    }
}

// full width search
.vp-navbar-center {
    div {
        width: 100%;
        button.DocSearch {
            width: 100%;
        }
    }
}
