// Dark theme settings
html[data-theme="dark"] #app {
  --code-highlight-bg-color: #203e36;
  --border-color: #0e5c49;
  --code-border-color: #333;
  --tab-nav-bg-color: var(--code-tabs-nav-bg-color);
  --tab-nav-hover-color: var(--code-tabs-nav-hover-color);
  --tab-bg-color: #161b25;
  --tab-nav-text-color: var(--code-tabs-nav-text-color);
  --note-bg-color: var(--bg-color);
  --info-bg-color: var(--bg-color);
  --tip-bg-color: #001c00;
  --warning-bg-color: #1d1500;
  --caution-bg-color: #340c0d;
  .vp-footer img.logo {
    content: url("/footer-logo-white.webp");
  }
}

// Light theme settings
html[data-theme="light"] #app {
  --code-highlight-bg-color: #a9d4c9;
  --border-color: #55877a;
  --code-bg-color: #e4e6e5;
  --code-border-color: #eee;
  --tab-nav-bg-color: var(--code-tabs-nav-bg-color);
  --tab-nav-hover-color: var(--code-tabs-nav-hover-color);
  --tab-bg-color: #e6f0f9;
  --tab-nav-text-color: var(--code-tabs-nav-text-color);
  --info-bg-color: var(--info-bg-color);
  .vp-footer img.logo {
    content: url("/footer-logo.webp");
  }
}

// make bash code blocks have $ prefix
pre.language-bash {
  padding-left: 0.8rem;
  code:before {
    content: "$ ";
    font-weight: bold;
    margin-left: -1rem;
  }
}

// remove table borders
table.no-boarder {
  td,
  th,
  tr {
    padding: 0.5em;
    border: none !important;
    background: none !important;
  }
}
// remove table header
table.no-head {
  thead {
    display: none !important;
  }
}

// remove extra list margins
ul li p {
  margin: 0px;
}

// don't hyphenate word breaks
p {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

// don't adjust image boarders
.theme-hope-content figure img {
  overflow: auto;
  border-radius: unset;
}

// Increase H tag headers font weight
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  a {
    font-weight: 800;
  }
}

// Header
// full width search
.vp-navbar-center {
  div {
    width: 100%;
    button.DocSearch {
      width: 100%;
    }
  }
}
// Footer
.vp-footer img.logo {
  padding-right: 25px;
}

// === Improve sidebar visual hierarchy ===
// size only first level headers
.vp-sidebar-group:not(.vp-sidebar-group .vp-sidebar-group) {
  margin-left: 1rem;
  & > .vp-sidebar-header {
    border-bottom: solid thin var(--border-color);
    border-radius: 0;
    .vp-sidebar-title {
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

// TODO: This is a hack to be removed along with the corresponding sidebar elements
// when the bug (https://github.com/vuepress-theme-hope/vuepress-theme-hope/issues/4286) is fixed
.vp-sidebar-header:has([aria-label^="-hidden-"]) {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--code-highlight-bg-color);
}

.vp-sidebar {
  scrollbar-color: var(--code-highlight-bg-color) var(--code-bg-color);
  .vp-sidebar-links {
    margin-left: 0rem;
    .vp-sidebar-group > .vp-sidebar-header {
      padding: 0.25rem 0rem;
      margin-left: 0rem;
      font-weight: 600;
    }
    .vp-sidebar-title {
      font-weight: 500;
    }
    .vp-sidebar-links {
      .vp-sidebar-link {
        padding-right: 0rem !important;
        margin-left: 0rem;
      }
      .vp-sidebar-links {
        .vp-sidebar-group {
          padding: 0.25rem 0.5rem;
        }
        .vp-sidebar-link {
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }
}

// Zilla plus icon indicator
.vp-sidebar-link,
.vp-sidebar-header {
  display: flex !important;
  flex-direction: row;
  span.icon {
    order: 2;
    margin-left: auto;
  }
}

// Zilla plus container styles
.zilla-plus-badge.hint-container.info {
  border-color: #0e5c49;
  background: var(--theme-color);
  padding: 0;
  a {
    background-color: var(--theme-color);
    cursor: pointer;
    text-decoration: none !important;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    sup {
      span.icon {
        color: white;
      }
    }
  }
  .external-link-icon {
    display: none;
  }
}

// set supper plus icons to the theme color
sup {
  span.icon {
    color: var(--theme-color);
  }
}

// Fix VPCard spacing
.vp-card {
  max-width: 330px;
}

// Style text output in a code block
@layer {
  div.language-output {
    border-radius: 0px !important;
    border-inline-start: 0.2rem solid var(--code-border-color);

    code {
      padding: 0.25rem 0 0.25rem 1rem !important;
      span {
        color: #666 !important;
        font-size: 1rem;
        overflow-wrap: break-word;
      }
    }

    button.vp-copy-code-button {
      display: none;
    }
  }
}

// Fix code tabs border radius, remove with https://github.com/vuepress-theme-hope/vuepress-theme-hope/issues/4235
.vp-code-tabs {
  div[class*="language-"].line-numbers-mode::after {
    border-radius: 0;
    border-bottom-left-radius: 6px;
  }
  div[class*="language-"] {
    pre {
      border-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
pre.shiki {
  border-radius: 0 6px 6px 0 !important;
}

// === ICONS ===
.aky-zilla-plus {
  &::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 94 94"><defs><style>.cls-1{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="0.5" y1="47.5" x2="94.5" y2="47.5" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%235a7cd9"/><stop offset="0.28" stop-color="%234799c9"/><stop offset="0.76" stop-color="%2329c4b0"/><stop offset="1" stop-color="%231ed5a7"/></linearGradient></defs><title>zilla-plus-icon</title><g id="Rounded_Plus" data-name="Rounded Plus"><path class="cls-1" d="M94.5,35.83V59.17a4.23,4.23,0,0,1-4.23,4.23H63.4V90.27a4.23,4.23,0,0,1-4.23,4.23H35.83a4.23,4.23,0,0,1-4.23-4.23V63.4H4.73A4.23,4.23,0,0,1,.5,59.17V35.83A4.23,4.23,0,0,1,4.73,31.6H31.6V4.73A4.23,4.23,0,0,1,35.83.5H59.17A4.23,4.23,0,0,1,63.4,4.73V31.6H90.27A4.23,4.23,0,0,1,94.5,35.83Z" transform="translate(-0.5 -0.5)"/></g></svg>');
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
  }
}
